<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="fold1" />
    <input type="hidden" name="page" value="faq" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'fold1') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Above the fold </strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-4">
                        <div class="restore-image-button">X</div>
                        <% const imageSrc=services?.images?.[0]?.src || "/wp-content/noimage.jpg" %>
                            <img onclick="openGallery(this, '#input-images-0')" src="<%=imageSrc%>"
                                style="width: 100%; height: 400px; cursor: pointer" class="gallery-image" />

                            <% const imageID=services?.images?.[0]?._id || "" %>
                                <input type="hidden" id="input-images-0" name="images" value="<%=imageID%>" required />
                                </br>
                                </br>
                    </div>
                    <div class="col-12">
                        <label for="service-title">Title (H1)</label>
                        <input type="text" name="titles" id="service-title" class="form-control"
                            value="<%=services?.titles || ""%>" required />

                        </br>
                        <label for="service-contents">Content (Sub-tittle)</label>
                        <textarea name="contents" id="service-contents" rows=" 3"
                            class="form-control"><%=services?.contents || "" %></textarea>

                        </br>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>