<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="fold2" />
    <input type="hidden" name="page" value="faq" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'fold2') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Popular question</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="service-title">Title </label>
                        <input type="text" name="titles" id="service-title" class="form-control"
                            value="<%=services?.titles || ""%>" required />

                        </br>
                        <label for="service-contents">Content (Sub-tittle)</label>
                        <textarea name="contents" id="service-contents" rows=" 3"
                            class="form-control"><%=services?.contents || "" %></textarea>

                        </br>

                        <label>All faq</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-faq-all">
                                <% for (let i=0; i < (services?.faq?.length || 1); i++) {%>
                                    <div class="select-container-faq-all mb-2" id="<%=`faq-all-${i}`%>">
                                        <div class="d-flex align-items-center" style="align-items:center">
                                            <div style="width: 80%">
                                                <select name="faq" class="form-control item-select">
                                                    <option value="">Trống</option>
                                                    <% if (allFaq && allFaq.length) { %>
                                                        <% allFaq.forEach(e=> { %>
                                                            <% const faqId=services?.faq?.length ? services?.faq?.[i]
                                                                : '' %>
                                                                <option value=<%- `"${e._id}"` %>
                                                                    <%= `${e._id}`==`${faqId}` && 'selected' %>
                                                                        >
                                                                        <%= e.name %>
                                                                </option>
                                                                <% }) %>
                                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".item-select" style="max-height: 28px">-
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button"
                                data-copy=".select-container-faq-all:last-child"
                                data-paste="#selector-container-faq-all">+</button>
                        </div>
                        <br />


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>