<form method="PUT" action="/admin/page-component" class="form-horizontal">
	<input type="hidden" name="name" value="seo" />
	<input type="hidden" name="page" value="<%= pageName %>" />
	<input type="hidden" name="lang" value="<%= lang %>" />

	<% const seo=components.find(e=> e.name == 'seo') %>
		<input type="hidden" name="createdAt" value="<%=seo?.createdAt || ''%>" />
		<input type="hidden" name="createdBy" value="<%=seo?.createdBy || ''%>" />

		<div class="card">
			<div class="card-header">
				<strong style="text-transform: uppercase">SEO SETTINGS</strong>
			</div>
			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="form-group">
					<label for="">SEO title</label>
					<input type="text" class="form-control" name="title" placeholder="seo_title"
						value="<%= seo?.title || '' %>" />
					<br />

					<label for="">SEO description</label>
					<textarea class="form-control" name="description" rows="3"><%=seo?.description||''%></textarea>
					<br />

					<label for="">SEO H1</label>
					<input type="text" class="form-control" name="seo_h1" placeholder="seoH1"
						value="<%= seo?.seo_h1 || '' %>" />
					<br />

					<label for="">SEO keywords</label>
					<input type="text" class="form-control" name="content" placeholder="seo_keywords"
						value="<%= seo?.content || '' %>" />
					<br />
					<label for="">SEO schema</label>
					<textarea name="seo_schema" rows="3" class="form-control"><%-seo?.seo_schema%></textarea>
					<br />
					<label for="">SEO canonical</label>
					<input type="text" class="form-control" name="seo_canonical" placeholder="seo_canonical"
						value="<%= seo?.seo_canonical || '' %>" />
					<br />

					<label for="">SEO language</label>
					<input type="text" class="form-control" name="seo_lang" placeholder="seo_lang"
						value="<%= seo?.seo_lang || 'en' %>" />
					<br />

				</div>
				<div class="form-group">
					<label for="">SEO images</label>
					<% const seoImageSrc=seo?.images?.[0]?.src || "/noimage.jpg" %>
						<img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
							style="width: 100%; cursor: pointer" class="gallery-image" />

						<% const seoImageID=seo?.images?.[0]?._id || "" %>
							<input type="hidden" id="input-seo-image" name="images" value="<%=seoImageID%>" required />
							<hr />
				</div>
			</div>

			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
					mới</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
</form>