<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="faqs" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'faqs') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Section 11: FAQ</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label>Header</label>
                        <input type="text" name="title" id="service-title" class="form-control"
                            value="<%=services?.title || ""%>" required />

                        </br>
                        <label>FAQS Content</label>
                        <textarea name="content" rows="4" class="form-control"><%=services?.content || "" %></textarea>
                        </br>

                        <label>FAQ list</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-faqs-section">
                                <% for (let i=0; i < (services?.faqs?.length || 1); i++) {%>
                                    <div class="select-container-faqs-section mb-2" id="<%=`faqs-8-home-${i}`%>">
                                        <div class="d-flex align-items-center" style="align-items:center">
                                            <div style="width: 80%">
                                                <select name="faqs" class="form-control item-select">
                                                    <option value="">Trống</option>
                                                    <% if (faqs && faqs.length) { %>
                                                        <% faqs.forEach(e=> { %>
                                                            <% const faqsId=services?.faqs?.length ? services?.faqs?.[i]
                                                                : '' %>
                                                                <option value=<%- `"${e._id}"` %>
                                                                    <%= `${e._id}`==`${faqsId}` && 'selected' %>
                                                                        >
                                                                        <%= e.name %>
                                                                </option>
                                                                <% }) %>
                                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".item-select" style="max-height: 28px">-
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button"
                                data-copy=".select-container-faqs-section:last-child"
                                data-paste="#selector-container-faqs-section">+</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>