<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="fold1" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'fold1') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Hero section </strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-4">
                        <div class="restore-image-button">X</div>
                        <% const imageSrc=services?.images?.[0]?.src || "/wp-content/noimage.jpg" %>
                            <img onclick="openGallery(this, '#input-images-0')" src="<%=imageSrc%>"
                                style="width: 100%; height: 400px; cursor: pointer" class="gallery-image" />

                            <% const imageID=services?.images?.[0]?._id || "" %>
                                <input type="hidden" id="input-images-0" name="images" value="<%=imageID%>" required />
                                </br>
                                </br>
                    </div>
                    <div class="col-12">
                        <label for="service-title">Title </label>
                        <input type="text" name="title" id="service-title" class="form-control"
                            value="<%=services?.title || ""%>" required />

                        </br>
                        <label for="service-contents">Content (Sub-tittle)</label>
                        <textarea name="content" id="service-contents" rows=" 3" class="form-control"
                            required><%=services?.content || "" %></textarea>

                        </br>
                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button name</label>
                            <input type="text" name="buttonName" id="service-title" class="form-control"
                                value="<%=services?.buttonName || ""%>" />
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button link</label>
                            <input type="text" name="buttonLink" id="service-title" class="form-control"
                                value="<%=services?.buttonLink || ""%>" />
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label for="service-title">Position </label>
                            <input type="text" name="opt1Description" id="service-title" class="form-control"
                                value="<%=services?.opt1?.description || ""%>" />
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label for="service-title">Name </label>
                            <input type="text" name="opt1Name" id="service-title" class="form-control"
                                value="<%=services?.opt1?.name || ""%>" />
                            </br>
                        </div>

                        <label for="service-title">Talk </label>
                        <textarea name="opt1Content" id="service-contents" rows=" 3" class="form-control"
                            required><%=services?.opt1?.content || "" %></textarea>
                        </br>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>