<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="section8" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'section8') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Section 8: Feedback </strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="titles-fold2">Header </label>
                        <input type="text" name="title" id="titles-fold2" class="form-control"
                            value="<%=services?.title || ""%>" required />
                        </br>

                        <label for="contents-fold2">Content (Sub-header)</label>
                        <textarea name="content" id="contents-fold2" rows="3"
                            class="form-control"><%= services?.content || ""%></textarea>
                        </br>

                        <label>Comment list</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-section-7-social">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-section-7-social mb-2"
                                        id="<%=`select-contain-section-7-social-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div style="width: 100%">
                                                <div class="col-4">
                                                    <div class="restore-image-button">X</div>
                                                    <% const imageSrc=services?.child?.[i]?.images?.[0]?.src
                                                        || "/wp-content/noimage.jpg" %>
                                                        <img onclick="openGallery(this, '#input-images-0')"
                                                            src="<%=imageSrc%>"
                                                            style="width: 100%; height: 400px; cursor: pointer"
                                                            class="gallery-image" />

                                                        <% const imageID=services?.child?.[i]?.images?.[0]?._id || "" %>
                                                            <input type="hidden" id="input-images-0" name="childImages"
                                                                value="<%=imageID%>" required />
                                                            </br>
                                                            </br>
                                                </div>

                                                <div class="col-6">
                                                    <label>Customer name</label>
                                                    <input type="text" name="childTitles"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.title || ""%>" />
                                                    </br>
                                                </div>

                                                <div class="col-6">
                                                    <label> Comment date: Manual set</label>
                                                    <input type="text" name="childDescriptions"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.description || ""%>" />
                                                    </br>
                                                </div>

                                                <div class="col-6">
                                                    <label>Comment detail</label>
                                                    <textarea name="childContents" id="contents-fold2" rows="5"
                                                        class="form-control"><%= services?.child?.[i]?.content || ""%></textarea>
                                                    </br>
                                                </div>


                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".select-container-section-7-social"
                                                style="max-height: 28px">-
                                            </div>
                                            <br />
                                            <hr />
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-section-7-social:last-child"
                                data-paste="#selector-container-section-7-social">+</button>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>