<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="section4" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'section4') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Section 4: Services</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label>Header</label>
                        <input type="text" name="title" id="service-title" class="form-control"
                            value="<%=services?.title || ""%>" />
                        </br>

                        <label>Stats</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-section-4">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-section-4 mb-2"
                                        id="<%=`select-contain-section-4-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div style="width: 100%">
                                                <div class="col-6">
                                                    <label>A number</label>
                                                    <input type="text" name="childTitles"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.title || ""%>" />
                                                </div>

                                                <div class="col-6">
                                                    <label>Description</label>
                                                    <input type="text" name="childContents"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.content || ""%>" />

                                                </div>

                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".select-container-section-4" style="max-height: 28px">-
                                            </div>
                                            <br />
                                            <hr />
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-section-4:last-child"
                                data-paste="#selector-container-section-4">+</button>
                        </div>
                        <br />

                        <label>Services list</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-serviceCategory-10">
                                <% for (let i=0; i < (services?.serviceCategory?.length || 1); i++) {%>
                                    <div class="select-container-serviceCategory-10 mb-2"
                                        id="<%=`serviceCategory-10-${i}`%>">
                                        <div class="d-flex align-items-center" style="align-items:center">
                                            <div style="width: 80%">
                                                <select name="serviceCategory" class="form-control item-select">
                                                    <option value="">Trống</option>
                                                    <% if (serviceCategory && serviceCategory.length) { %>
                                                        <% serviceCategory.forEach(e=> { %>
                                                            <% const serviceCategoryId=services?.serviceCategory?.length
                                                                ? services?.serviceCategory?.[i] : '' %>
                                                                <option value=<%- `"${e._id}"` %>
                                                                    <%= `${e._id}`==`${serviceCategoryId}` && 'selected'
                                                                        %>
                                                                        >
                                                                        <%= e.name %>
                                                                </option>
                                                                <% }) %>
                                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".item-select" style="max-height: 28px">-
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button"
                                data-copy=".select-container-serviceCategory-10:last-child"
                                data-paste="#selector-container-serviceCategory-10">+</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>