<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="section9" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'section9') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Section 9: Price change </strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="titles-fold2">Header </label>
                        <input type="text" name="title" id="titles-fold2" class="form-control"
                            value="<%=services?.title || ""%>" required />
                        </br>

                        <div class="col-6" style="padding-left: 0%;">
                            <label for="contents-fold2">Limited offer header</label>
                            <textarea name="opt1Title" id="contents-fold2" rows="5"
                                class="form-control"><%= services?.opt1?.title || "" %></textarea>
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label for="contents-fold2">Limited offer description</label>
                            <textarea name="opt1Content" id="contents-fold2" rows="5"
                                class="form-control"><%=  services?.opt1?.content || "" %></textarea>
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button name</label>
                            <input type="text" name="buttonName" id="service-title" class="form-control"
                                value="<%=services?.buttonName || ""%>" />
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button link</label>
                            <input type="text" name="buttonLink" id="service-title" class="form-control"
                                value="<%=services?.buttonLink || ""%>" />
                            </br>
                        </div>

                        <label>Price type list</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-section-9">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-section-9 mb-2"
                                        id="<%=`select-contain-section-9-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div style="width: 100%">
                                                <div class="col-10">
                                                    <label>Price type name</label>
                                                    <input type="text" name="childTitles"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.title || ""%>" />
                                                    </br>
                                                </div>

                                                <div class="col-10">
                                                    <label>Price type detail</label>
                                                    <textarea name="childContents" id="contents-fold2" rows="5"
                                                        class="form-control"><%= services?.child?.[i]?.content || ""%></textarea>
                                                </div>
                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".select-container-section-9" style="max-height: 28px">-
                                            </div>
                                            <br />
                                            <hr />
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-section-9:last-child"
                                data-paste="#selector-container-section-9">+</button>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>