<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="section1" />
    <input type="hidden" name="page" value="home" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'section1') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Section 1: Stats</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="titles-fold2">Header </label>
                        <input type="text" name="title" id="titles-fold2" class="form-control"
                            value="<%=services?.title || ""%>" required />

                        </br>
                        <label for="contents-fold2">Content (Sub-header)</label>
                        <textarea name="content" id="contents-fold2" rows="3"
                            class="form-control"><%= services?.content || ""%></textarea>

                        </br>

                        <label>Stats</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container mb-2" id="<%=`select-contain-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div style="width: 100%">
                                                <div class="col-6">
                                                    <label>Number</label>
                                                    <input type="text" name="childTitles"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.title || ""%>" />
                                                </div>

                                                <div class="col-6">
                                                    <label>Description: Maximum 60 characters</label>
                                                    <input type="text" name="childContents"
                                                        class="form-control title-input"
                                                        value="<%=services?.child?.[i]?.content || ""%>" />

                                                </div>

                                            </div>
                                            <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                data-target=".select-container" style="max-height: 28px">-
                                            </div>
                                            <br />
                                            <hr />
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container:last-child" data-paste="#selector-container">+</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>