<!-- Tìm kiếm -->
<div class="card">
	<div class="card-header">
		<strong>Tìm kiếm</strong>
	</div>
	<div class="card-body card-block">
		<form method="GET" enctype="multipart/form-data" class="form">
			<div class="row form-group">
				<div class="col col-md-6"><label for="hf-title" class=" form-control-label">Từ khóa tìm kiếm</label>
					<input type="text" name="search" id="hf-title" value="<%= search || '' %>" class="form-control">
				</div>

				<div class="col col-md-3"><label for="hf-parent-title" class=" form-control-label">Parent</label>
					<select name="parent" id="hf-parent-title" class="form-control select-search-input">
						<option value="">Tất cả</option>
						<% if (listParent) {%>
							<%for (let i=0; i < listParent.length; i++) {%>
								<option value=<%- `"${listParent[i]._id}"`%>
									<% if (parent==listParent[i]._id) {%>
										selected
										<% } %>><%= listParent[i].name %>
								</option>
								<% } %>
									<% } %>
					</select>
				</div>

			</div>

			<button type="submit" class="btn btn-primary btn-sm">
				<i class="fa fa-search"></i> Tìm kiếm
			</button>
			<div class="d-inline-block ml-3"><strong>
					<%= total %> Kết quả trả về
				</strong></div>

		</form>
	</div>
</div>