<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="fold1" />
    <input type="hidden" name="page" value="about" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'fold1') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Fold1</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Fold1 Title</label>
                            <input type="text" name="titles" id="service-title" class="form-control" value="<%=title%>"
                                required />

                            </br>
                            <% const content=services?.contents || "" %>
                                <label for="service-contents">Fold1 Content</label>
                                <textarea name="contents" id="service-contents" rows=" 3" class="form-control"
                                    required><%-content%></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>