<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="how_to_order" />
    <input type="hidden" name="page" value="service_detail" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'how_to_order') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">How to order</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title </label>
                            <input type="text" name="titles" id="service-title" class="form-control"
                                value="<%= services?.titles || ""  %>" required />

                            </br>
                            <label for="service-contents">Content </label>
                            <textarea name="contents" id="service-contents" rows=" 3"
                                class="form-control"><%= services?.contents || ""  %></textarea>

                            </br>
                            <label for="service-contents">Link (A video)</label>
                            <input type="text" name="url" id="service-title" class="form-control"
                                value="<%= services?.url || ""  %>" required />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>