<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="packages" />
    <input type="hidden" name="page" value="service_detail" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'packages') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Package</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title</label>
                            <input type="text" name="titles" id="service-title" class="form-control" value="<%=title%>"
                                required />

                            </br>
                            <% const content=services?.contents || "" %>
                                <label for="service-contents">Content </label>
                                <textarea name="contents" id="service-contents" rows=" 3" class="form-control"
                                    required><%-content%></textarea>
                                </br>

                                <div class="col-6" style="padding-left: 0%;">
                                    <label>Button name</label>
                                    <input type="text" name="buttonName" id="service-title" class="form-control"
                                        value="<%=services?.buttonName || ""%>" />
                                    </br>
                                </div>

                                <div class="col-6" style="padding-left: 0%;">
                                    <label>Button link</label>
                                    <input type="text" name="buttonLink" id="service-title" class="form-control"
                                        value="<%=services?.buttonLink || ""%>" />
                                    </br>
                                </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>