<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="blogs" />
    <input type="hidden" name="page" value="service_detail" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'blogs') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Blogs</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title </label>
                            <input type="text" name="titles" id="service-title" class="form-control" value="<%=title%>"
                                required />

                            </br>
                            <% const content=services?.contents || "" %>
                                <label for="service-contents">Content </label>
                                <textarea name="contents" id="service-contents" rows=" 3"
                                    class="form-control"><%-content%></textarea>
                                </br>

                                <label>Blog</label>
                                <div class="row col-12 form-group d-block">
                                    <div id="selector-container-blog-4-services">
                                        <% for (let i=0; i < (services?.blog?.length || 1); i++) {%>
                                            <div class="select-container-blog-4-services mb-2"
                                                id="<%=`blog-4-services-${i}`%>">
                                                <div class="d-flex align-items-center" style="align-items:center">
                                                    <div style="width: 80%">
                                                        <select name="blog" class="form-control item-select">
                                                            <option value="">Trống</option>
                                                            <% if (blog && blog.length) { %>
                                                                <% blog.forEach(e=> { %>
                                                                    <% const blogId=services?.blog?.length ?
                                                                        services?.blog?.[i] : '' %>
                                                                        <option value=<%- `"${e._id}"` %>
                                                                            <%= `${e._id}`==`${blogId}` && 'selected' %>
                                                                                >
                                                                                <%= e.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                            <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                        data-target=".item-select" style="max-height: 28px">-
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success copy-button"
                                        data-copy=".select-container-blog-4-services:last-child"
                                        data-paste="#selector-container-blog-4-services">+</button>
                                </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>