<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="service_commitment" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'service_commitment') %>
        <input type="hidden" name="createdAt" value="<%=services?.createdAt || ''%>" />
        <input type="hidden" name="createdBy" value="<%=services?.createdBy || ''%>" />

        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Our commitment</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="service_commitment-title">Title</label>
                        <input type="text" name="titles" id="service_commitment-title" class="form-control"
                            value="<%= services?.titles || "" %>" required />

                        </br>
                        <label for="service_commitment-contents">Content</label>
                        <textarea name="contents" id="service_commitment-contents" rows="3"
                            class="form-control"><%= services?.contents || "" %></textarea>
                        </br>

                        <label>Commitment blog</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-how-it-work">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-how-it-work mb-2"
                                        id="<%=`select-contain-how-it-work-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div class="card-body" style="padding: 20px !important; position: relative">
                                                <div class="form-group row">
                                                    <div class="col-4">
                                                        <div class="restore-image-button">X</div>
                                                        <% const imageSrc=services?.child?.[i]?.images?.[0]?.src
                                                            || "/wp-content/noimage.jpg" %>
                                                            <img onclick="openGallery(this, '#input-images-0')"
                                                                src="<%=imageSrc%>"
                                                                style="width: 100%; height: 400px; cursor: pointer"
                                                                class="gallery-image" />

                                                            <% const imageID=services?.child?.[i]?.images?.[0]?._id
                                                                || "" %>
                                                                <input type="hidden" id="input-images-0"
                                                                    name="childImages" value="<%=imageID%>" required />
                                                                </br>
                                                                </br>
                                                    </div>
                                                    <div class="col-10">
                                                        <label>Title (Maximum 20 characters)</label>
                                                        <input type="text" name="childTitles"
                                                            class="form-control title-input" maxlength="20"
                                                            value="<%= services?.child?.[i]?.titles?.[0] || "" %> " />
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div class="col-10 ">
                                                        <label>Content (maximum 50 characters)</label>
                                                        <textarea name="childContents" rows="3" maxlength="50"
                                                            class="form-control"><%= services?.child?.[i]?.contents?.[0] || "" %></textarea>
                                                    </div>
                                                    <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                        data-target=".select-container-how-it-work"
                                                        style="max-height: 28px">-
                                                    </div>

                                                </div>
                                                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-how-it-work:last-child"
                                data-paste="#selector-container-how-it-work">+</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../../scripts/addForm.ejs %>