<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="packages" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'packages') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Package and Pricing</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title (H2)</label>
                            <input type="text" name="titles" id="service-title" class="form-control" value="<%=title%>"
                                required />

                            </br>
                            <% const content=services?.contents || "" %>
                                <label for="service-contents">Content (Sub-header)</label>
                                <textarea name="contents" id="service-contents" rows=" 3" class="form-control"
                                    required><%-content%></textarea>
                                </br>

                                <!-- <div class="col-6" style="padding-left: 0%;">
                                    <label>Button name</label>
                                    <input type="text" name="buttonName" id="service-title" class="form-control"
                                        value="<%=services?.buttonName || ""%>" />
                                    </br>
                                </div>

                                <div class="col-6" style="padding-left: 0%;">
                                    <label>Button link</label>
                                    <input type="text" name="buttonLink" id="service-title" class="form-control"
                                        value="<%=services?.buttonLink || ""%>" />
                                    </br>
                                </div> -->

                                <label>All package</label>
                                <div class="row col-12 form-group d-block">
                                    <div id="selector-container-fold-3">
                                        <% for (let i=0; i < (services?.packages?.length || 1); i++) {%>
                                            <div class="select-container-fold-3 mb-2" id="<%=`fold-3-${i}`%>">
                                                <div class="d-flex align-items-center" style="align-items:center">
                                                    <div style="width: 80%">
                                                        <select name="packages" class="form-control item-select">
                                                            <option value="">Trống</option>
                                                            <% if (packages && packages.length) { %>
                                                                <% packages.forEach(e=> { %>
                                                                    <% const packagesId=services?.packages?.length ?
                                                                        services?.packages?.[i] : '' %>
                                                                        <option value=<%- `"${e._id}"` %>
                                                                            <%= `${e._id}`==`${packagesId}`
                                                                                && 'selected' %>
                                                                                >
                                                                                <%= e.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                            <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                        data-target=".item-select" style="max-height: 28px">-
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success copy-button"
                                        data-copy=".select-container-fold-3:last-child"
                                        data-paste="#selector-container-fold-3">+</button>
                                </div>
                                <br />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>