<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="we_accept" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'we_accept') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">we_accept</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="service-title">Title</label>
                        <input type="text" name="titles" id="service-title" class="form-control"
                            value="<%= services?.titles || ""%>" required />
                        </br>

                        <label for="service-contents">Content </label>
                        <textarea name="contents" id="service-contents" rows=" 3"
                            class="form-control"><%= services?.contents || ""%></textarea>

                        <label>Steps</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-we-accept">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-we-accept mb-2"
                                        id="<%=`select-contain-we-accept-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div class="card-body" style="padding: 20px !important; position: relative">
                                                <div class="form-group row">
                                                    <div class="col-4">
                                                        <div class="restore-image-button">X</div>
                                                        <% const imageSrc=services?.child?.[i]?.images?.[0]?.src
                                                            || "/wp-content/noimage.jpg" %>
                                                            <img onclick="openGallery(this, '#input-images-0')"
                                                                src="<%=imageSrc%>"
                                                                style="width: 100%; height: 400px; cursor: pointer"
                                                                class="gallery-image" />

                                                            <% const imageID=services?.child?.[i]?.images?.[0]?._id
                                                                || "" %>
                                                                <input type="hidden" id="input-images-0"
                                                                    name="childImages" value="<%=imageID%>" required />
                                                                </br>
                                                                </br>
                                                    </div>

                                                    <div class="col-10">
                                                        <% const title=services?.child?.[i]?.titles?.[0] || "" %>
                                                            <label>Title</label>
                                                            <input type="text" name="childTitles"
                                                                class="form-control title-input" value="<%=title%>" />
                                                    </div>

                                                    <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                        data-target=".select-container-we-accept"
                                                        style="max-height: 28px">-
                                                    </div>

                                                </div>
                                                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-we-accept:last-child"
                                data-paste="#selector-container-we-accept">+</button>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>