<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="customer_feedback" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'customer_feedback') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Customer feedback</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title (H2)</label>
                            <input type="text" name="titles" id="service-title" class="form-control"
                                value="<%= services?.titles || ""  %>" required />

                            </br>
                            <label for="service-contents">Content (Sub-header)</label>
                            <textarea name="contents" id="service-contents" rows=" 3"
                                class="form-control"><%= services?.contents || ""  %></textarea>

                            </br>
                            <label>Customer feedbacks</label>
                            <div class="row col-12 form-group d-block">
                                <div id="selector-container-testimonials-2">
                                    <% for (let i=0; i < (services?.customerFeedbacks?.length || 1); i++) {%>
                                        <div class="select-container-testimonials-2 mb-2"
                                            id="<%=`testimonials-2-${i}`%>">
                                            <div class="d-flex align-items-center" style="align-items:center">
                                                <div style="width: 80%">
                                                    <select name="customerFeedbacks" class="form-control item-select">
                                                        <option value="">Trống</option>
                                                        <% if (customerFeedbacks && customerFeedbacks.length) { %>
                                                            <% customerFeedbacks.forEach(e=> { %>
                                                                <% const
                                                                    customerFeedbacksId=services?.customerFeedbacks?.length
                                                                    ? services?.customerFeedbacks?.[i] : '' %>
                                                                    <option value=<%- `"${e._id}"` %>
                                                                        <%= `${e._id}`==`${customerFeedbacksId}`
                                                                            && 'selected' %>
                                                                            >
                                                                            <%= e.title %>
                                                                    </option>
                                                                    <% }) %>
                                                                        <% } %>
                                                    </select>
                                                </div>
                                                <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                    data-target=".item-select" style="max-height: 28px">-
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success copy-button"
                                    data-copy=".select-container-testimonials-2:last-child"
                                    data-paste="#selector-container-testimonials-2">+</button>
                            </div>


                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>