<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="contact_support" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'contact_support') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Contact Support</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-4">
                        <div class="restore-image-button">X</div>
                        <% const imageSrc=services?.images?.[0]?.src || "/wp-content/noimage.jpg" %>
                            <img onclick="openGallery(this, '#input-images-0')" src="<%=imageSrc%>"
                                style="width: 100%; height: 400px; cursor: pointer" class="gallery-image" />

                            <% const imageID=services?.images?.[0]?._id || "" %>
                                <input type="hidden" id="input-images-0" name="images" value="<%=imageID%>" required />
                                </br>
                                </br>
                    </div>
                    <div class="col-12">
                        <label for="service-title">Title</label>
                        <input type="text" name="titles" id="service-title" class="form-control"
                            value="<%= services?.titles || "" %>" required />

                        </br>
                        <label for="service-contents">Content </label>
                        <textarea name="contents" id="service-contents" rows=" 3"
                            class="form-control"><%= services?.contents || "" %></textarea>
                        </br>

                        <input type="text" name="descriptions" id="service-title" class="form-control"
                            value="<%= services?.descriptions || "" %>" />
                        </br>

                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button name</label>
                            <input type="text" name="buttonName" id="service-title" class="form-control"
                                value="<%=services?.buttonName || ""%>" />
                            </br>
                        </div>

                        <div class="col-6" style="padding-left: 0%;">
                            <label>Button link</label>
                            <input type="text" name="buttonLink" id="service-title" class="form-control"
                                value="<%=services?.buttonLink || ""%>" />
                            </br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>