<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="maas_channel" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'maas_channel') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">MAAS’s channels</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <% const title=services?.titles || "" %>
                            <label for="service-title">Title</label>
                            <input type="text" name="titles" id="service-title" class="form-control"
                                value="<%= services?.titles || ""  %>" required />

                            </br>
                            <label for="service-contents">Content</label>
                            <textarea name="contents" id="service-contents" rows=" 3"
                                class="form-control"><%= services?.contents || ""  %></textarea>

                            </br>
                            <label>Social media</label>
                            <div class="row col-12 form-group d-block">
                                <div id="selector-container-maas-chanel-services">
                                    <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                        <div class="select-container-maas-chanel-services mb-2"
                                            id="<%=`select-contain-maas-chanel-services-${i}`%>">
                                            <div class="d-flex align-items-center item-select-div"
                                                style="align-items:center">
                                                <div class="card-body"
                                                    style="padding: 20px !important; position: relative">
                                                    <div class="form-group row">
                                                        <div class="col-4">
                                                            <div class="restore-image-button">X</div>
                                                            <% const imageSrc=services?.child?.[i]?.images?.[0]?.src
                                                                || "/wp-content/noimage.jpg" %>
                                                                <img onclick="openGallery(this, '#input-images-0')"
                                                                    src="<%=imageSrc%>"
                                                                    style="width: 100%; height: 400px; cursor: pointer"
                                                                    class="gallery-image" />

                                                                <% const imageID=services?.child?.[i]?.images?.[0]?._id
                                                                    || "" %>
                                                                    <input type="hidden" id="input-images-0"
                                                                        name="childImages" value="<%=imageID%>"
                                                                        required />
                                                                    </br>
                                                                    </br>
                                                        </div>
                                                        <div class="col-10">
                                                            <label>Step</label>
                                                            <input type="text" name="childTitles"
                                                                class="form-control title-input"
                                                                value="<%= services?.child?.[i]?.titles?.[0] || "" %> " />
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <div class="col-10 ">
                                                            <label>Content</label>
                                                            <textarea name="childContents" rows="1" maxlength="200"
                                                                class="form-control"><%= services?.child?.[i]?.contents?.[0] || "" %></textarea>
                                                        </div>
                                                        <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                            data-target=".select-container-maas-chanel-services"
                                                            style="max-height: 28px">-
                                                        </div>

                                                    </div>
                                                    <hr
                                                        style="height:1px;border-width:0;color:gray;background-color:gray">
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success copy-button-div-2"
                                    data-copy=".select-container-maas-chanel-services:last-child"
                                    data-paste="#selector-container-maas-chanel-services">+</button>
                            </div>
                            <br />
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                mới</button>
            <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
        </div>
        </div>
</form>