<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="steps" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'steps') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Steps</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="service-title">Title</label>
                        <input type="text" name="titles" id="service-title" class="form-control"
                            value="<%= services?.titles || ""%>" required />
                        </br>

                        <label for="service-contents">Content </label>
                        <textarea name="contents" id="service-contents" rows=" 3"
                            class="form-control"><%= services?.contents || ""%></textarea>
                        </br>

                        <label>Steps</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-steps">
                                <% for (let i=0; i < (services?.child?.length || 1); i++) {%>
                                    <div class="select-container-steps mb-2" id="<%=`select-contain-steps-${i}`%>">
                                        <div class="d-flex align-items-center item-select-div"
                                            style="align-items:center">
                                            <div class="card-body" style="padding: 20px !important; position: relative">
                                                <div class="form-group row">
                                                    <div class="col-5">
                                                        <% const title=services?.child?.[i]?.titles?.[0] || "" %>
                                                            <label>Step</label>
                                                            <input type="text" name="childTitles"
                                                                class="form-control title-input" value="<%=title%>" />
                                                    </div>
                                                    <div class="col-5">
                                                        <label for="service-contents">Link (A video)</label>
                                                        <input type="text" name="childUrls" id="service-title"
                                                            class="form-control"
                                                            value="<%= services?.child?.[i]?.url?.[0] || ""  %>" />
                                                    </div>


                                                    <div class="col-10 ">
                                                        <% const content=services?.child?.[i]?.contents?.[0] || "" %>
                                                            <label>Content</label>
                                                            <textarea name="childContents" rows="3" maxlength="200"
                                                                class="form-control"><%=content%></textarea>
                                                    </div>
                                                    <div class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                                                        data-target=".select-container-steps" style="max-height: 28px">-
                                                    </div>

                                                </div>
                                                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success copy-button-div-2"
                                data-copy=".select-container-steps:last-child"
                                data-paste="#selector-container-steps">+</button>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>