<form method="PUT" action="/admin/page-component" class="form-horizontal">
    <input type="hidden" name="name" value="steps" />
    <input type="hidden" name="page" value="service" />
    <input type="hidden" name="lang" value="<%= lang %>" />

    <% const services=components.find(e=> e.name == 'steps') %>
        <div class="card">
            <div class="card-header">
                <strong style="text-transform: uppercase">Steps</strong>
            </div>
            <div class="card-body" style="padding: 20px !important; position: relative">
                <div class="form-group row">
                    <div class="col-12">
                        <label for="service-title">Step name (maximum 30 words)</label>
                        <input type="text" name="titles" id="service-title" maxlength="250" class="form-control"
                            value="<%= services?.titles || ""%>" required />
                        </br>

                        <label for="service-contents">Step detail (maximum 300 words) </label>
                        <textarea name="contents" id="service-contents" rows=" 3" maxlength="2000"
                            class="form-control"><%= services?.contents || ""%></textarea>
                        </br>

                        <label>Steps</label>
                        <div class="row col-12 form-group d-block">
                            <div id="selector-container-service-category-process">
                                <div class="select-container-content-seo mb-2" id="<%=`content-seo`%>">
                                    <div class="d-flex align-items-center" style="align-items:center">
                                        <div style="width: 80%">
                                            <select name="descriptions" class="form-control item-select">
                                                <option value="">Trống</option>
                                                <% if (orderStep && orderStep.length) { %>
                                                    <% orderStep.forEach(e=> { %>
                                                        <% const _proCate=services?.descriptions !==null ?
                                                            services?.descriptions : '' %>
                                                            <option value="<%=`${e.title}` %>"
                                                                <%=`${e.title}`==`${_proCate}` && 'selected' %>
                                                                >
                                                                <%= e.title %>
                                                            </option>
                                                            <% }) %>
                                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Đăng
                    mới</button>
                <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
            </div>
        </div>
</form>