<body>
	<!-- Left Panel -->

	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
					aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="/admin"><img style="margin-left: -45px;width: 30%;"
						src="/admin/images/logo.png" alt="Logo" /></a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<!-- // id="navbar-nav-left-panel" -->
				<ul class="nav navbar-nav">

					<li class="menu-item-has-children dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
							<i class="menu-icon fa fa-book"></i>Services</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/services">List services</a>
							</li>
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/service-categories">Services
									Categories</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
							<i class="menu-icon fa fa-book"></i>Policy</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/policy-categories">Policy
									categories</a>
							</li>
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/policies">List policy</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
							<i class="menu-icon fa fa-book"></i>Faq</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/faq-categories">Faq
									categories</a>
							</li>
							<li><i class="menu-icon fa fa-list-ul"></i><a href="/admin/faqs">List faq</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children">
						<a href="/admin/users"> <i class="menu-icon fa fa-user-secret"></i>Quản trị viên</a>
					</li>

					<h3 class="menu-title">KÊNH MARKETING</h3>
					<li class="menu-item-has-children">
						<a href="/admin/promotions"> <i class="menu-icon fa fa-cubes"></i>Mã khuyến mãi</a>
					</li>

					<h3 class="menu-title">SETTINGS</h3>
					<li class="menu-item-has-children">
						<a href="/admin/payment-methods"> <i class="menu-icon fa fa-cubes"></i>Payment Method</a>
					</li>

					<h3 class="menu-title">LAYOUT</h3>
					<li class="menu-item-has-children dropdown">
					<li class="menu-item-has-children">
						<a href="/admin/page-home"> <i class="menu-icon fa fa-home"></i>Home Page</a>
						<a href="/admin/page-about"> <i class="menu-icon fa fa-home"></i>About MAAS Page</a>
					</li>

					<h3 class="menu-title">SEO SETTINGS</h3>
					<li class="menu-item-has-children">
						<a href="/admin/seo-files"> <i class="menu-icon fa fa-sitemap"></i>Tệp dành cho SEO</a>
						<a href="/admin/seo/home"> <i class="menu-icon fa fa-cog"></i>SEO Home</a>
						<a href="/admin/seo/about"> <i class="menu-icon fa fa-cog"></i>SEO About</a>
						<a href="/admin/seo/policy"> <i class="menu-icon fa fa-cog"></i>SEO Policy</a>
					</li>

				</ul>
			</div>

			<!-- /.navbar-collapse -->
		</nav>
	</aside>
	<!-- /#left-panel -->

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">
		<!-- Header-->
		<header id="header" class="header">
			<div class="header-menu">
				<div class="col-sm-12 float-right">
					<div class="user-area dropdown float-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<img class="user-avatar rounded-circle" src="/admin/images/admin.jpg" alt="User Avatar" />
						</a>

						<div class="user-menu dropdown-menu">
							<a class="nav-link" href="/admin/user/password"><i class="fa fa-cog"></i> Đổi mật
								khẩu</a>
							<a class="nav-link" href="/admin/logout"><i class="fa fa-power-off"></i> Đăng xuất</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<script>

			let xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
			};

			xhr.open('GET', '/admin/get-unhandled', true); // current URL
			xhr.send();

		</script>