<div class="breadcrumbs">
	<div class="col-sm-4">
		<div class="page-header float-left">
			<div class="page-title">
				<h1>Dashboard</h1>
			</div>
		</div>
	</div>
</div>

<div class="content mt-3">
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-1">
			<div class="card-body pb-0">
				<div class="dropdown float-right">
					<button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
						id="dropdownMenuButton1" data-toggle="dropdown">
						<i class="fa fa-cog"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<div class="dropdown-menu-content">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h4 class="mb-0">
					<span class="count">
						<%= totalPosts || 0 %>
					</span>
				</h4>
				<p class="text-light">Bài tin tức</p>

				<div class="chart-wrapper px-0" style="height: 70px" height="70">
					<canvas id="widgetChart1"></canvas>
				</div>
			</div>
		</div>
	</div>
	<!--/.col-->
</div>
<!-- .content -->