<div class="breadcrumbs">
  <div class="page-header float-left">
    <div class="page-title">
      <h1 class="d-inline-block float-left"><a href="/admin/faqs" style="color: black;">List faq</a>
      </h1>
      <div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
        <div data-action="/admin/faqs" data-type="faqs"
          class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
          Tạo mới
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg">
  <br />

  <br />
  <form method="PUT" action="/admin/faqs/<%=faq._id%>" class="form-horizontal">
    <input type="hidden" name="lang" value="<%=lang%>" />
    <input type="hidden" name="createdAt" value="<%=faq?.createdAt || ''%>" />
    <input type="hidden" name="createdBy" value="<%=faq?.createdBy || ''%>" />

    <div class="card">
      <div class="card-body" style="padding: 20px !important; position: relative">
        <div class="row">

          <div class="col-12 form-group">
            <label>Title</label>
            <input type="text" name="name" required=true class="form-control" id="title-input"
              value="<%=faq?.name || ""%>" />
            <br />

            <label>Slug (LINK URL)</label>
            <input type="text" name="slug" required=true id="slug-auto" class="form-control"
              value="<%= faq?.slug || "" %>" required />
            <div id="create-slug-btn-faqs" class="btn btn-info mt-2" style="cursor: pointer">Generate
              slug</div>
            <br>
            <br />

            <label>Description</label>
            <textarea name="description" rows="5" class="form-control"><%- faq?.description || "" %></textarea>
          </div>

          <div class="col-12 form-group">
            <label for="introduce-content">Content</label>
            <textarea name="content" class="content-editor" id="content-editor"><%-faq?.content || ""%></textarea>
            <br />
          </div>

          <div class="col-12 form-group">
            <label>Status</label>
            <select name="status" id="" class="form-control" style="max-width: 400px">
              <option <%- `${faq?.status}`==`2` ? "selected" : '' %> value="2">Public,
                index</option>
              <option <%- `${faq?.status}`==`1` ? "selected" : '' %> value="1">Public, no
                index</option>
              <option <%- `${faq?.status}`==`0` ? "selected" : '' %> value="0">Private</option>
            </select>
            <br />
          </div>

          <div class="col-12 form-group" style="padding-left: 0px;">
            <div class="col-4">
              <label>Release Date</label>
              <% const publishedAt=faq?.publishedAt || new Date() %>
                <input type="date" name="publishedAt" class="form-control" min="0"
                  value="<%= DATE_FORMAT_FN(publishedAt, 'YYYY-MM-DD') %>" required />
            </div>

            <div class="col-4" style="padding-left: 0px;">
              <label>Updated Day</label>
              <% const updatedDay=faq?.updatedDay || new Date() %>
                <input type="date" name="updatedDay" class="form-control" min="0"
                  value="<%= DATE_FORMAT_FN(updatedDay, 'YYYY-MM-DD') %>" required />
            </div>

            <div class="col-4">
              <label>Display order</label>
              <input type="number" name="displayOrder" required=true class="form-control"
                value="<%= faq?.displayOrder || 1 %>" min="1" step="1" />
            </div>

          </div>

          <div class="col-12 form-group">
            <div class="col-5" style="padding-left: 0px;">
              <label for="select" class="form-control-label d-block">Faq Categories</label>
              <select name="category" id="postCategory" class="select-search-input form-control">
                <option value="" <%=!faq.category && 'selected' %>>Trống</option>
                <% if (categories && categories.length) { %>
                  <% categories.forEach(e=> {%>
                    <option value=<%- `"${e._id}"` %>
                      <%= `${e._id}`==`${faq.category}` && 'selected' %>>
                        <%= e.name %>
                    </option>
                    <% }) %>
                      <% } %>
              </select>
              <br />
            </div>
            <br />
          </div>

          <div class="col-12 form-group">
            <div class="col-6" style="padding-left: 0px;">
              <label>Related Faq</label>
              <div class="row col-12 form-group d-block">
                <div id="selector-container-faq-detail-related">
                  <% for (let i=0; i < (faq?.relatedFaq?.length || 1); i++) {%>
                    <div class="select-container-faq-detail-related mb-2" id="<%=`faq-detail-related-${i}`%>">
                      <div class="d-flex align-items-center" style="align-items:center">
                        <div style="width: 80%">
                          <select name="relatedFaq" class="form-control item-select">
                            <option value="">Trống</option>
                            <% if (listFaq && listFaq.length) { %>
                              <% listFaq.forEach(e=> { %>
                                <% const faqId=faq?.relatedFaq?.length ? faq?.relatedFaq?.[i] : '' %>
                                  <option value=<%- `"${e._id}"` %>
                                    <%= `${e._id}`==`${faqId}` && 'selected' %>
                                      >
                                      <%= e.name %>
                                  </option>
                                  <% }) %>
                                    <% } %>
                          </select>
                        </div>
                        <div
                          class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                          data-target=".item-select" style="max-height: 28px">-
                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success copy-button"
                  data-copy=".select-container-faq-detail-related:last-child"
                  data-paste="#selector-container-faq-detail-related">+</button>
              </div>
            </div>
          </div>

          <div class="col-12 form-group">
            <label>SEO Title</label>
            <input type="text" name="seo_title" maxlength="70" class="form-control" value="<%=faq?.seo_title || "" %>"
              id="seo-title-auto" />
            <div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
            </div>
            <br />
            <br />

            <label>SEO description</label>
            <textarea name="seo_description" maxlength="160" rows="3"
              class="form-control"><%-faq?.seo_description || ""%></textarea>
            <br />

            <label>SEO keywords</label>
            <input type="text" name="seo_keywords" class="form-control" value="<%=faq?.seo_keywords || ""%>" />
            <br />

            <label>Seo canonical</label>
            <input type="text" name="seo_canonical" class="form-control" value="<%=faq?.seo_canonical || ""%>" />
            <br />

            <label>seo_lang</label>
            <input type="text" name="seo_lang" class="form-control" value="<%=faq?.seo_lang || " en"%>" />
            <br />

            <label for="">SEO images</label>
            <div class="form-group">
              <% const seoImageSrc=faq?.seo_image?.src || "/noimage.jpg" %>
                <img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
                  style="width: 100%; cursor: pointer" class="gallery-image" />

                <% const seoImageID=faq?.seo_image?._id || "" %>
                  <input type="hidden" id="input-seo-image" name="seo_image" value="<%=seoImageID%>" required />
                  <hr />
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Đăng mới
        </button>
        <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
      </div>
    </div>
  </form>
</div>
<script src="/admin/js/autoFilled.js"></script>
<%- include ../../scripts/addForm.ejs %>
  <%- include ../../scripts/price_script.ejs %>