<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left">About page</h1>
		</div>
	</div>
	<%- include ../../components/admin/languages_select %>
</div>

<div class="col-lg">
	<hr />
	<br />
	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/about/1_fold1%>
				<br />
		</div>
	</div>
</div>


<%- include ../../scripts/addForm.ejs %>