<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left">Home page</h1>
		</div>
	</div>
</div>

<div class="col-lg">
	<hr />
	<br />
	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/1_fold1%>
				<br />
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section1%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section2%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section3%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section4%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section5%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section6%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section7%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section8%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section9%>
				<br />
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/2_section10%>
				<br />
		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<%-include ../../components/admin/home/13_faqs%>
				<br />
		</div>
	</div>
</div>


<%- include ../../scripts/addForm.ejs %>