<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/payment-methods" style="color: black;">Danh sách</a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/payment-methods" data-type="payment-methods"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<br />
	<table class="table table-bordered" style="max-width: 1280px; margin: auto">
		<thead>
			<tr class="bg-primary text-light">
				<th scope="col">Bank</th>
				<th scope="col">Type</th>
				<th scope="col">Account Number</th>
				<th scope="col">Account Name</th>
				<th scope="col">Trạng thái</th>
				<th scope="col">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<% paymentMethods.forEach(e=> {%>
				<tr>
					<td scope="row">
						<div class="d-flex" style="max-width: 600px">
							<%=e.bankName || '' %>
						</div>
					</td>
					<td scope="row">
						<div class="d-flex" style="max-width: 600px">
							<%=e.type || '' %>
						</div>
					</td>
					<td scope="row">
						<div class="d-flex" style="max-width: 400px">
							<%=e.accountNumber || '' %>
						</div>
					</td>
					<td scope="row">
						<div class="d-flex" style="max-width: 400px">
							<%=e.accountName || '' %>
						</div>
					</td>
					<td scope="row">
						<div class="d-flex" style="max-width: 400px">
							<%= e?.status==1 ? 'Hiện' : 'Ẩn' %>
						</div>
					</td>
					<td style="max-width: 140px">
						<div class="d-flex justify-content-center">
							<a href="/admin/payment-methods/<%=e._id%>" data-id="<%=e._id%>"
								class="edit-button button btn-info p-2 pl-3 pr-3 mr-2 br-7 text-light">Chỉnh sửa
							</a>
							<div data-url="/admin/payment-methods/<%=e._id%>" data-id="<%=e._id%>"
								class="button <%=e._id?'btn-danger':'btn-secondary'%> p-2 pl-3 pr-3 br-7 button-remove">
								Xoá
							</div>
						</div>
					</td>
				</tr>
				<% }) %>
		</tbody>
	</table>
	<br />
	<br />
	<div class="container d-flex justify-content-center">
		<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
			<% pagination.forEach((link, index)=> {%>
				<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
					<%=index+1%>
				</a>
				<%}) %>
		</div>
	</div>
</div>