<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/payment-methods" style="color: black;">Danh sách </a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/payment-methods" data-type="payment-methods"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg">
	<br />
	<form method="PUT" action="/admin/payment-methods/<%=paymentMethod._id%>" class="form-horizontal">

		<div class="card">
			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="row">
					<div class="col-2">
						<label class="form-control-label d-block">Danh mục <i class="menu-icon fa fa-question-circle"
								title="Thuộc nhóm nào?"></i></label>
						<select name="category" id="selectTypePaymentMethod" class="select-search-input form-control">
							<option value="" <%=!paymentMethod.type && 'selected' %>>Trống</option>
							<% if (categories && categories.length) { %>
								<% categories.forEach(e=> {%>
									<option value=<%- `"${e._id}"` %>
										<%= `${e._id}`==`${paymentMethod.type}` && 'selected' %>>
											<%= e.name %>
									</option>
									<% }) %>
										<% } %>
						</select>
						<br />
					</div>
					<div class="col-2 form-group">
						<label>Type</label>
						<input type="text" name="type" id="type-input" class="form-control  type-input"
							value="<%=paymentMethod?.type || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>Bank Name</label>
						<input type="text" name="bankName" id="title-input" class="form-control"
							value="<%=paymentMethod?.bankName || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>Account Number</label>
						<input type="text" name="accountNumber" id="title-input" class="form-control"
							value="<%=paymentMethod?.accountNumber || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>Account Name</label>
						<input type="text" name="accountName" id="title-input" class="form-control"
							value="<%=paymentMethod?.accountName || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>Swift Code</label>
						<input type="text" name="swiftCode" id="title-input" class="form-control"
							value="<%=paymentMethod?.swiftCode || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>Post Code</label>
						<input type="text" name="postCode" id="title-input" class="form-control"
							value="<%=paymentMethod?.postCode || ""%>" />
					</div>

					<div class="col-4 form-group">
						<label>email</label>
						<input type="text" name="email" id="title-input" class="form-control"
							value="<%=paymentMethod?.email || ""%>" />
					</div>

					<div class="col-4  form-group">
						<label>Trạng thái</label>
						<select name="status" id="" class="form-control">
							<option <%- `${paymentMethod?.status}`==`1` ? "selected" : '' %> value="1">Hiện</option>
							<option <%- `${paymentMethod?.status}`==`0` ? "selected" : '' %> value="0">Ẩn</option>
							</option>
						</select><br />
					</div>

					<div class="col-12 form-group">
						<div class="col-4 form-group">
							<div class="restore-image-button">X</div>
							<% const thumbnailSrc=paymentMethod?.thumbnail?.src || "/noimage.jpg" %>
								<img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
									style="width: 490px; cursor: pointer" class="gallery-thumbnail" />

								<% const thumbnailID=paymentMethod?.thumbnail?._id || "" %>
									<input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>"
										required />
									<br /><br /><label>Ảnh thumbnail</label>
						</div>

						<div class="col-4 form-group">
							<div class="restore-image-button">X</div>
							<% const qrCodeSrc=paymentMethod?.qrCode?.src || "/noimage.jpg" %>
								<img onclick="openGallery(this, '#input-qrCode')" src="<%=qrCodeSrc%>"
									style="width: 490px; cursor: pointer" class="gallery-qrCode" />

								<% const qrCodeID=paymentMethod?.qrCode?._id || "" %>
									<input type="hidden" id="input-qrCode" name="qrCode" value="<%=qrCodeID%>" />
									<br /><br /><label>Ảnh qrCode</label>
						</div>
					</div>

				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-dot-circle-o"></i> Đăng mới
				</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
	</form>
</div>

<script src="/admin/js/autoFilled.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		$("#selectTypePaymentMethod").change(function () {
			const selectContainer = document.querySelector('.type-input');
			selectContainer.value = this.value
			return;
		});
	})
</script>