<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/policy-categories" style="color: black;">Policy
					categories</a></h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/policy-categories" data-type="policy-categories"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<br />
	<table class="table table-bordered" style="max-width: 1280px; margin: auto">
		<thead>
			<tr class="bg-primary text-light">
				<th scope="col">#ID</th>
				<th scope="col">Title</th>
				<th scope="col">Status</th>
				<th scope="col">Published date</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<% categories.forEach(category=> {%>
				<tr>
					<td rowspan="2" style="width: 150px">
						<div class="d-flex flex-column">
							<div class="d-flex justify-content-center">
								<%=FORMAT_ID_FN(`${category._id}`)%> <br />
							</div>
							<br />
						</div>
					</td>
				</tr>
				<tr>
					<td scope="row">
						<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
							<a href="https://test-maas.maasedtech.com/<%= category.slug  %>" target="_blank"
								style="color: blue	;">
								<%= category.name || '(chưa có bản dịch)' %>
							</a>
						</div>
					</td>
					<td scope="row" style="width: 200px;">
						<% if(category) { %>
							<div data-url="/admin/policy-categories/<%=category._id%>/status/<%=  category?.status != 0 ? 0 : 2 %>"
								data-id="<%=category?._id%>"
								class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
								<%= category?.status !=0 ? 'Đã duyệt' : 'Đã ẩn' %>
							</div>
							<% } %>
					</td>
					<td scope="row">
						<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
							<%= DATE_FORMAT_FN(category.publishedAt, 'YYYY-MM-DD' ) || '(chưa cập nhật)' %>
						</div>
					</td>
					<td style="width: 70px">
						<div class="d-flex flex-column justify-content-center">
							<a href="/admin/policy-categories/<%=category._id%>?lang=en" data-id="<%=category._id%>"
								class="button btn-info p-2 pl-3 pr-3 br-7 mb-2">Chỉnh sửa</a>
							<div data-url="/admin/policy-categories/<%=category._id%>" data-id="<%=category._id%>"
								class="button <%=category.en?'btn-danger':'btn-secondary'%> p-2 pl-3 pr-3 br-7 button-remove">
								Xoá
							</div>
						</div>
					</td>
				</tr>
				<% }) %>
		</tbody>
	</table>
	<br />
	<br />
	<div class="container d-flex justify-content-center">
		<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
			<% pagination.forEach((link, index)=> {%>
				<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
					<%=index+1%>
				</a>
				<%}) %>
		</div>
	</div>
</div>