<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-name">
			<h1 class="d-inline-block float-left"><a href="/admin/policy-categories" style="color: black;">Policy
					categories</a></h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/policy-categories" data-type="policy-categories"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg">
	<br />

	<br />
	<form method="PUT" action="/admin/policy-categories/<%=category._id%>" class="form-horizontal">
		<input type="hidden" name="lang" value="<%=lang%>" />
		<input type="hidden" name="postCategory" value="<%=category._id%>" />
		<input type="hidden" name="createdAt" value="<%=category?.createdAt || ''%>" />
		<input type="hidden" name="createdBy" value="<%=category?.createdBy || ''%>" />

		<div class="card">
			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="row">
					<div class="col-12 form-group">
						<% const thumbnailSrc=category?.thumbnail?.src || "/noimage.jpg" %>
							<img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
								style="width: 100%; cursor: pointer" class="gallery-image" />

							<% const thumbnailID=category?.thumbnail?._id || "" %>
								<input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>"
									required />
					</div>

					<div class="col-12 form-group">
						<label>Title</label>
						<input type="text" name="name" required=true id="title-input" class="form-control"
							value="<%= category?.name || "" %>" required />
						<br />

						<label>Slug (LINK URL)</label>
						<input type="text" name="slug" required=true id="slug-auto" class="form-control"
							value="<%= category?.slug || "" %>" required />
						<div id="create-slug-btn" class="btn btn-info mt-2" style="cursor: pointer">Generate
							slug</div>
						<br>
						<br />

						<label>Description</label>
						<textarea name="description" rows="5"
							class="form-control"><%- category?.description || "" %></textarea>
						<br />
						<hr />
					</div>

					<div class="col-12 form-group">
						<label for="introduce-content">Content</label>
						<textarea name="content" class="content-editor"
							id="content-editor"><%-category?.content || "" %></textarea>
						<br />
					</div>

					<div class="col-12 form-group">
						<label>Status</label>
						<select name="status" id="" class="form-control" style="max-width: 200px">
							<option value="2" <%=`${category?.status}`==2 && 'selected' %>>Public, index</option>
							<option value="1" <%=`${category?.status}`==1 && 'selected' %>>Public, noindex
							</option>
							<option value="0" <%=(`${category?.status}`==0 || !category?.status) && 'selected' %>
								>Private
							</option>
						</select>
						<br />

						<div class="col-12 form-group" style="padding-left: 0px;">
							<div class="col-4" style="padding-left: 0px;">
								<label>Release Date</label>
								<% const publishedAt=category?.publishedAt || new Date() %>
									<input type="date" name="publishedAt" class="form-control" min="0"
										value="<%= DATE_FORMAT_FN(publishedAt, 'YYYY-MM-DD') %>" required />
									<br />
							</div>
							<div class="col-4">
								<label for="select" class=" form-control-label">Policy Category</label>
								<select name="parent" id="category" class="form-control select-search-input">
									<option value="">Trống</option>
									<% if (categories && categories.length) { %>
										<% categories.forEach(e=> {%>
											<% if (`${e._id}` !=`${category._id}`) { %>
												<option value=<%- `"${e._id}"` %>
													<%= `${e._id}`==`${category.parent}` && 'selected' %>>
														<%= (lang=='en' ) ? e.enName : e.viName %>
												</option>
												<% } %>
													<% }) %>
														<% } %>
								</select>
							</div>
						</div>

						<label>SEO title</label>
						<input type="text" name="seo_title" maxlength="70" id="seo-title-auto" class="form-control"
							value="<%=category?.seo_title || "" %>" />
						<div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
						</div>
						<br />
						<br />

						<label>SEO description</label>
						<textarea name="seo_description" maxlength="160" rows="3"
							class="form-control"><%-category?.seo_description || "" %></textarea>
						<br />

						<label>SEO keywords</label>
						<input type="text" name="seo_keywords" class="form-control"
							value="<%=category?.seo_keywords || "" %>" />
						<br />

						<label>SEO schema</label>
						<textarea name="seo_schema" rows="3"
							class="form-control"><%-category?.seo_schema || "" %></textarea>
						<br />

						<label>SEO canonical</label>
						<input type="text" name="seo_canonical" id="seo-title-auto" class="form-control"
							value="<%=category?.seo_canonical || "" %>" />
						<br />

						<label>SEO lang</label>
						<input type="text" name="seo_lang" class="form-control" value="<%=category?.seo_lang || " en"
							%>" />
						<br />

						<label for="">SEO images</label>
						<div class="form-group">
							<% const seoImageSrc=category?.seo_image?.src || "/noimage.jpg" %>
								<img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
									style="width: 100%; cursor: pointer" class="gallery-image" />

								<% const seoImageID=category?.seo_image?._id || "" %>
									<input type="hidden" id="input-seo-image" name="seo_image" value="<%=seoImageID%>"
										required />
									<hr />
						</div>

					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-dot-circle-o"></i> Đăng mới
				</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
	</form>
</div>

<script src="/admin/js/autoFilled.js"></script>