<div class="breadcrumbs">
  <div class="page-header float-left">
    <div class="page-title">
      <h1 class="d-inline-block float-left"><a href="/admin/policies" style="color: black;">List policy</a>
      </h1>
      <div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
        <div data-action="/admin/policies" data-type="policies"
          class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
          Tạo mới
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg">
  <br />

  <br />
  <form method="PUT" action="/admin/policies/<%=policy._id%>" class="form-horizontal">
    <input type="hidden" name="lang" value="<%=lang%>" />
    <input type="hidden" name="createdAt" value="<%=policy?.createdAt || ''%>" />
    <input type="hidden" name="createdBy" value="<%=policy?.createdBy || ''%>" />

    <div class="card">
      <div class="card-body" style="padding: 20px !important; position: relative">
        <div class="row">

          <div class="col-12 form-group">
            <label>Title</label>
            <input type="text" name="name" required=true class="form-control" id="title-input"
              value="<%=policy?.name || ""%>" />
            <br />
          </div>

          <!-- <div class="col-12 form-group">
            <label>Slug (LINK URL)</label>
            <input type="text" name="slug" required=true id="slug-auto" class="form-control"
              value="<%= policy?.slug || "" %>" required />
            <div id="create-slug-btn" class="btn btn-info mt-2" style="cursor: pointer">Generate
              slug</div>
            <br>
            <br />
          </div> -->

          <div class="col-12 form-group">
            <label for="introduce-content">Content</label>
            <textarea name="content" class="content-editor" id="content-editor"><%-policy?.content || ""%></textarea>
            <br />
          </div>

          <div class="col-12 form-group" style="padding-left: 0px;">
            <div class="col-4">
              <label>Display order</label>
              <input type="number" name="displayOrder" required=true class="form-control"
                value="<%= policy?.displayOrder || 1 %>" min="1" step="1" />
              <br />
            </div>

            <div class="col-4">
              <label for="select" class="form-control-label d-block">Policy Categories</label>
              <select name="category" id="postCategory" class="select-search-input form-control">
                <option value="" <%=!policy.category && 'selected' %>>Trống</option>
                <% if (categories && categories.length) { %>
                  <% categories.forEach(e=> {%>
                    <option value=<%- `"${e._id}"` %>
                      <%= `${e._id}`==`${policy.category}` && 'selected' %>>
                        <%= e.name %>
                    </option>
                    <% }) %>
                      <% } %>
              </select>
            </div>

            <div class="col-4">
              <label>Status</label>
              <select name="status" id="" class="form-control" style="max-width: 400px">
                <option <%- `${policy?.status}`==`2` ? "selected" : '' %> value="2">Public,
                  index</option>
                <option <%- `${policy?.status}`==`1` ? "selected" : '' %> value="1">Public, no
                  index</option>
                <option <%- `${policy?.status}`==`0` ? "selected" : '' %> value="0">Private</option>
              </select>
              <br />
            </div>

          </div>

          <div class="col-12 form-group">
            <label>SEO Title</label>
            <input type="text" name="seo_title" maxlength="70" class="form-control"
              value="<%=policy?.seo_title || "" %>" id="seo-title-auto" />
            <div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
            </div>
            <br />
            <br />

            <label>SEO description</label>
            <textarea name="seo_description" maxlength="160" rows="3"
              class="form-control"><%-policy?.seo_description || ""%></textarea>
            <br />

            <label>SEO keywords</label>
            <input type="text" name="seo_keywords" class="form-control" value="<%=policy?.seo_keywords || ""%>" />
            <br />

            <label>SEO canonical</label>
            <input type="text" name="seo_canonical" class="form-control" value="<%=policy?.seo_canonical || ""%>" />
            <br />

            <label>SEO Lang</label>
            <input type="text" name="seo_lang" class="form-control" value="<%=policy?.seo_lang || " en"%>" />
            <br />

            <label for="">SEO images</label>
            <div class="form-group">
              <% const seoImageSrc=policy?.seo_image?.src || "/noimage.jpg" %>
                <img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
                  style="width: 100%; cursor: pointer" class="gallery-image" />

                <% const seoImageID=policy?.seo_image?._id || "" %>
                  <input type="hidden" id="input-seo-image" name="seo_image" value="<%=seoImageID%>" required />
                  <hr />
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Đăng mới
        </button>
        <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
      </div>
    </div>
  </form>
</div>
<script src="/admin/js/autoFilled.js"></script>