<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/policies" style="color: black;">List policy</a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/policies" data-type="policies"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<br />
	<table class="table table-bordered" style="max-width: 1366px; margin: auto">
		<thead>
			<tr class="bg-primary text-light">
				<th scope="col">#ID</th>
				<th scope="col">Title</th>
				<th scope="col">Policy Category</th>
				<th scope="col">Display order</th>
				<th scope="col">Status</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<% if( policies && policies.length){ %>
				<% policies.forEach(policy=> {%>
					<tr>
						<td rowspan="2" style="width: 150px">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-center">
									<%= FORMAT_ID_FN(`${policy?._id}`) %>
								</div><br />
								<div class="button btn-secondary p-1 pl-2 pr-2 br-7 text-light"
									data-id="<%= policy._id %>" data-name="<%= policy.name %>" data-toggle="modal"
									data-target="#modal-update-policy-<%=policy._id%>">
									Sửa nhanh
								</div>
							</div>
						</td>
					<tr>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<%=policy?.name || '(chưa có bản dịch)' %>
							</div>
						</td>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<a href="/admin/policy-categories/<%=policy?.category?._id%>?lang=en">
									<%= policy?.category?.name || '(Trống)' %>
								</a>
							</div>
						</td>
						<td scope="row">
							<%= policy?.displayOrder || '(Trống)' %>
						</td>
						<td scope="row" style="width: 200px;">
							<% if(policy) { %>
								<div data-url="/admin/policies/<%=policy._id%>/status/<%=  policy?.status != 0 ? 0 : 2 %>"
									data-id="<%=policy?._id%>"
									class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
									<%= policy?.status !=0 ? 'Đã duyệt' : 'Đã ẩn' %>
								</div>
								<% } %>
						</td>
						<td style="width: 70px">
							<div class="d-flex flex-column justify-content-center">
								<a href="/admin/policies/<%=policy._id%>?lang=en" data-id="<%=policy._id%>"
									class="button btn-info p-2 pl-3 pr-3 br-7 mb-1">Chỉnh sửa</a>

								<div data-url="/admin/policies/<%=policy._id%>" data-id="<%=policy._id%>"
									class="button btn-secondary p-2 pl-3 pr-3 br-7 button-remove">
									Xoá
								</div>
							</div>
						</td>
					</tr>


					<!-- MODAL UPODATE -->
					<div class="modal fade" id="modal-update-policy-<%=policy._id%>" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Quick update</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body">
									<form method="POST" action="/admin/policies/quick-update/<%=policy._id%>"
										class="form-horizontal">
										<div class="form-group">
											<label for="name" class="col-form-label">Title</label>
											<input name="name" type="text" class="form-control title-input"
												value="<%=policy.name%>">
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">Display order</label>
											<input type="number" name="displayOrder" class="form-control"
												value="<%=policy.displayOrder%>" />
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">SEO Title</label>
											<input type="text" name="seo_title" maxlength="70"
												class="form-control seo-title-auto"
												value="<%=policy?.seo_title || ""%>" />
											<div class="btn btn-info mt-2 create-seo-title-btn">Generate Title SEO
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">SEO description</label>
											<textarea name="seo_description" maxlength="160" rows="3"
												class="form-control"><%-policy?.seo_description%></textarea>
										</div>
										<button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
										<button type="reset" class="btn btn-danger btn-sm">
											<i class="fa fa-ban"></i> Làm mới
										</button>
									</form>
								</div>

							</div>
						</div>
					</div>

					<% })} %>
		</tbody>
	</table>
	<br />
	<br />
	<div class="container d-flex justify-content-center">
		<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
			<% pagination.forEach((link, index)=> {%>
				<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
					<%=index+1%>
				</a>
				<%}) %>
		</div>
	</div>
</div>

<script src="/admin/js/autoFilled.js"></script>