<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/promotions" style="color: black;">Danh sách mã khuyến
					mãi

				</a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/promotions" data-type="promotions"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg">
	<br />
	<form method="PUT" action="/admin/promotions/<%=promotion._id%>" class="form-horizontal">

		<div class="card">
			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="row">
					<div class="col-4 form-group">
						<label>Ảnh thumbnail</label>
						<% const thumbnailSrc=promotion?.icon?.src || "/noimage.jpg" %>
							<img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
								style="width: 100%; cursor: pointer" class="gallery-image" />

							<% const thumbnailID=promotion?.icon?._id || "" %>
								<input type="hidden" id="input-thumbnail" name="icon" value="<%=thumbnailID%>"
									required />
					</div>

					<div class="col-12 form-group">
						<% const name=promotion?.name || "" %>
							<label>Tên</label>
							<input type="text" name="name" id="title-input" class="form-control" value="<%=name%>"
								required />
					</div>

					<div class="col-12 form-group">
						<% const description=promotion?.description || "" %>
							<label>Mô tả</label>
							<input type="text" name="description" id="title-input" class="form-control"
								value="<%=description%>" required />
					</div>

					<div class="col-6 form-group">
						<% const code=promotion?.code || "" %>
							<label>Mã code ( Viết liền - Không được trùng với mã code khác )</label>
							<input type="text" name="code" id="title-input" class="form-control" placeholder=""
								value="<%=code%>" required />
					</div>

					<div class="col-6 form-group">
						<label>Loại mã</label>
						<select name="type" id="" class="form-control">
							<option <%- `${promotion?.type}`==`0` ? "selected" : '' %> value="0">Giảm giá %</option>
							<option <%- `${promotion?.type}`==`1` ? "selected" : '' %> value="1">Giảm giá trừ tiền trực
								tiếp</option>
						</select>
					</div>

					<div class="col-6 form-group">
						<% const minOrder=promotion?.minOrder || "" %>
							<label>Áp dụng cho hóa đơn từ</label>
							<input type="text" name="minOrder" id="title-input" class="form-control"
								value="<%=minOrder%>" />
					</div>

					<div class="col-6 form-group">
						<% const price=promotion?.price || "" %>
							<label>Số tiền giảm ( hoặc % giảm )</label>
							<input type="text" name="price" id="title-input" class="form-control" value="<%=price%>"
								required />
					</div>

					<div class="col-6 form-group">
						<label>Ngày hết hạn mã</label>
						<% const dateExpired=promotion?.dateExpired || new Date() %>
							<input type="date" name="dateExpired" class="form-control" min="0"
								value="<%= DATE_FORMAT_FN(dateExpired, 'YYYY-MM-DD') %>" required />
					</div>

					<div class="col-6  form-group">
						<label>Trạng thái</label>
						<select name="status" id="" class="form-control">
							<option <%- `${promotion?.status}`==`1` ? "selected" : '' %> value="1">Hiện</option>
							<option <%- `${promotion?.status}`==`0` ? "selected" : '' %> value="0">Ẩn</option>
							</option>
						</select>
						<br />
					</div>

				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-dot-circle-o"></i> Đăng mới
				</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
	</form>
</div>

<script src="/admin/js/autoFilled.js"></script>