<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left">
				<%= title %>
			</h1>
		</div>
	</div>
	<%- include ../../components/admin/languages_select %>
</div>
<div class="col-lg"><%- include ../../components/admin/seo/editSeo %></div>