<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/services" style="color: black;">List service</a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/services" data-type="services"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<br />
	<% include ../../components/admin/service_detail/filter %>
		<table class="table table-bordered" style="max-width: 1366px; margin: auto">
			<thead>
				<tr class="bg-primary text-light">
					<th scope="col">#ID</th>
					<th scope="col">Title</th>
					<th scope="col">Services Category</th>
					<th scope="col">Type Services</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% if( services && services.length){ %>
					<% services.forEach(service=> {%>
						<tr>
							<td rowspan="2" style="width: 150px">
								<div class="d-flex flex-column">
									<div class="d-flex justify-content-center">
										<%= FORMAT_ID_FN(`${service?._id}`) %>
									</div>
									<a href="/admin/services-duplicate/<%=service._id%>?lang=en"
										data-id="<%=service._id%>"
										class="button btn-warning p-1 pl-2 pr-2 br-7 mb-2">Nhân bản</a>

									<div class="button btn-secondary p-1 pl-2 pr-2 br-7 text-light"
										data-id="<%= service._id %>" data-name="<%= service.name %>" data-toggle="modal"
										data-target="#modal-update-service-<%=service._id%>">
										Sửa nhanh
									</div>
								</div>
							</td>
						<tr>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<a href="https://test-maas.maasedtech.com/<%= service.slug  %>" target="_blank"
										style="color: blue	;">
										<%=service?.name || '(chưa có bản dịch)' %>
									</a>
								</div>
							</td>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<a href="/admin/service-categories/<%=service?.category?._id%>?lang=en">
										<%= service?.category?.name || '(Trống)' %>
									</a>
								</div>
							</td>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<%= listTypeOfServices?.find((e)=> e.id == service?.typeOfServices).name ||
										'(Trống)'
										%>
								</div>
							</td>
							<td scope="row" style="width: 200px;">
								<% if(service) { %>
									<div data-url="/admin/services/<%=service._id%>/status/<%=  service?.status != 0 ? 0 : 2 %>"
										data-id="<%=service?._id%>"
										class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
										<%= service?.status !=0 ? 'Đã duyệt' : 'Đã ẩn' %>
									</div>
									<% } %>
							</td>
							<td style="width: 70px">
								<div class="d-flex flex-column justify-content-center">
									<a href="/admin/services/<%=service._id%>?lang=en" data-id="<%=service._id%>"
										class="button btn-info p-2 pl-3 pr-3 br-7 mb-1">Chỉnh sửa</a>

									<div data-url="/admin/services/<%=service._id%>" data-id="<%=service._id%>"
										class="button btn-secondary p-2 pl-3 pr-3 br-7 button-remove">
										Xoá
									</div>
								</div>
							</td>
						</tr>


						<!-- MODAL UPODATE -->
						<div class="modal fade" id="modal-update-service-<%=service._id%>" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">

									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Quick update</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="modal-body">
										<form method="POST" action="/admin/services/quick-update/<%=service._id%>"
											class="form-horizontal">
											<div class="form-group">
												<label for="name" class="col-form-label">Title</label>
												<input name="name" type="text" class="form-control title-input"
													value="<%=service.name%>">
											</div>

											<div class="form-group">
												<label for="name" class="col-form-label">New Rate</label>
												<% const newRate=service?.newRate || 0 %>
													<input type="number" name="newRate"
														class="form-control price-input-v2" value="<%=`${newRate}`%>"
														min="0" />
													<small class="help-block form-text">New Rate: <span
															class="price-preview-v2">
															<%= CURRENCY_FORMAT_FN(newRate || 0) %>
														</span></small>
											</div>

											<div class="form-group">
												<label for="name" class="col-form-label">Old Rate</label>
												<% const oldRate=service?.oldRate || 0 %>
													<input type="number" name="oldRate"
														class="form-control price-input-v2" value="<%=`${oldRate}`%>"
														min="0" />
													<small class="help-block form-text">Old Rate: <span
															class="price-preview-v2">
															<%= CURRENCY_FORMAT_FN(oldRate || 0) %>
														</span></small>
											</div>

											<div class="form-group">
												<label>Word Count</label>
												<% const wordCount=service?.wordCount || 0 %>
													<input type="number" name="wordCount"
														class="form-control price-input-v2" value="<%=`${wordCount}`%>"
														min="0" />
													<small class="help-block form-text">Word Count: <span
															class="price-preview-v2">
															<%= CURRENCY_FORMAT_FN(wordCount || 0) %>
														</span></small>
											</div>


											<div class="form-group">
												<label for="name" class="col-form-label">SEO Title</label>
												<input type="text" name="seo_title" maxlength="70"
													class="form-control seo-title-auto"
													value="<%=service?.seo_title || ""%>" />
												<div class="btn btn-info mt-2 create-seo-title-btn">Generate Title SEO
												</div>
											</div>

											<div class="form-group">
												<label for="name" class="col-form-label">SEO description</label>
												<textarea name="seo_description" maxlength="160" rows="3"
													class="form-control"><%-service?.seo_description%></textarea>
											</div>
											<button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
											<button type="reset" class="btn btn-danger btn-sm">
												<i class="fa fa-ban"></i> Làm mới
											</button>
										</form>
									</div>

								</div>
							</div>
						</div>

						<% })} %>
			</tbody>
		</table>
		<br />
		<br />
		<div class="container d-flex justify-content-center">
			<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
				<% pagination.forEach((link, index)=> {%>
					<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
						<%=index+1%>
					</a>
					<%}) %>
			</div>
		</div>
</div>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../scripts/price_script.ejs %>