<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/service-categories" style="color: black;">Service
					categories</a></h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/service-categories" data-type="service-categories"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<% include ../../components/admin/our_services/filter %>
		<br />
		<table class="table table-bordered" style="max-width: 1280px; margin: auto">
			<thead>
				<tr class="bg-primary text-light">
					<th scope="col">#ID</th>
					<th scope="col">Title</th>
					<th scope="col">Category</th>
					<th scope="col">Display order</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% categories.forEach(category=> {%>
					<tr>
						<td rowspan="2" style="width: 150px">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-center">
									<%=FORMAT_ID_FN(`${category._id}`)%> <br />
								</div>
								<a href="/admin/service-categories-duplicate/<%=category._id%>?lang=en"
									data-id="<%=category._id%>" class="button btn-warning p-1 pl-2 pr-2 br-7 mb-2">Nhân
									bản</a>
								<div class="button btn-secondary p-1 pl-2 pr-2 br-7 text-light"
									data-id="<%= category._id %>" data-name="<%= category.name %>" data-toggle="modal"
									data-target="#modal-update-category-<%=category._id%>">
									Sửa nhanh
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<a href="https://test-maas.maasedtech.com/<%= category.slug  %>" target="_blank"
									style="color: blue	;">
									<%= category?.name ? category?.name : '(chưa có bản dịch)' %>
								</a>
							</div>
						</td>
						<td scope="row">
							<%= category?.parent?.name || '(Trống)' %>
						</td>
						<td scope="row">
							<%= category?.displayOrder || '(Trống)' %>
						</td>
						<td scope="row" style="width: 200px;">
							<% if(category) { %>
								<div data-url="/admin/service-categories/<%=category._id%>/status/<%=  category?.status != 0 ? 0 : 2 %>"
									data-id="<%=category?._id%>"
									class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
									<%= category?.status !=0 ? 'Đã duyệt' : 'Đã ẩn' %>
								</div>
								<% } %>
						</td>
						<td style="width: 70px">
							<div class="d-flex flex-column justify-content-center">
								<a href="/admin/service-categories/<%=category._id%>?lang=en"
									data-id="<%=category._id%>" class="button btn-info p-2 pl-3 pr-3 br-7 mb-2">Chỉnh
									sửa</a>
								<div data-url="/admin/service-categories/<%=category._id%>" data-id="<%=category._id%>"
									class="button <%=category.en?'btn-danger':'btn-secondary'%> p-2 pl-3 pr-3 br-7 button-remove">
									Xoá
								</div>
							</div>
						</td>
					</tr>


					<!-- MODAL UPODATE -->
					<div class="modal fade" id="modal-update-category-<%=category._id%>" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Quick update</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body">
									<form method="POST"
										action="/admin/service-categories/quick-update/<%=category._id%>"
										class="form-horizontal">
										<div class="form-group">
											<label for="name" class="col-form-label">Title</label>
											<input name="name" type="text" class="form-control title-input"
												value="<%=category.name%>">
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">Display order</label>
											<input type="number" name="displayOrder" class="form-control"
												value="<%=category.displayOrder%>" min="1" step="0.1" />
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">SEO Title</label>
											<input type="text" name="seo_title" maxlength="70"
												class="form-control seo-title-auto"
												value="<%=category?.seo_title || ""%>" />
											<div class="btn btn-info mt-2 create-seo-title-btn">Generate Title SEO
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-form-label">SEO description</label>
											<textarea name="seo_description" maxlength="160" rows="3"
												class="form-control"><%-category?.seo_description%></textarea>
										</div>
										<button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
										<button type="reset" class="btn btn-danger btn-sm">
											<i class="fa fa-ban"></i> Làm mới
										</button>
									</form>
								</div>

							</div>
						</div>
					</div>

					<% }) %>
			</tbody>
		</table>
		<br />
		<br />
		<div class="container d-flex justify-content-center">
			<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
				<% pagination.forEach((link, index)=> {%>
					<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
						<%=index+1%>
					</a>
					<%}) %>
			</div>
		</div>
</div>