<div class="breadcrumbs">
  <div class="page-header float-left">
    <div class="page-title">
      <h1 class="d-inline-block float-left"><a href="/admin/services" style="color: black;">List service</a>
      </h1>
      <div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
        <div data-action="/admin/services" data-type="services"
          class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
          Tạo mới
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg">
  <br />

  <br />
  <form method="PUT" action="/admin/services/<%=service._id%>" class="form-horizontal">
    <input type="hidden" name="lang" value="<%=lang%>" />
    <input type="hidden" name="createdAt" value="<%=service?.createdAt || ''%>" />
    <input type="hidden" name="createdBy" value="<%=service?.createdBy || ''%>" />

    <div class="card">
      <div class="card-body" style="padding: 20px !important; position: relative">
        <div class="row">

          <div class="col-12 form-group">
            <% const thumbnailSrc=service?.thumbnail?.src || "/noimage.jpg" %>
              <img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
                style="width: 100%; height: 400px; cursor: pointer" class="gallery-image" />

              <% const thumbnailID=service?.thumbnail?._id || "" %>
                <input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>" required />
          </div>


          <div class="col-12 form-group">
            <label>Title</label>
            <input type="text" name="name" required=true id="title-input" class="form-control"
              value="<%= service?.name || "" %>" required />
            <br />

            <label>Description</label>
            <textarea name="description" rows="5" class="form-control"><%- service?.description || "" %></textarea>

          </div>

          <div class="col-12 form-group">
            <label for="introduce-content">Content</label>
            <textarea name="content" class="content-editor" id="content-editor"><%-service?.content || ""%></textarea>
            <br />
            <hr />
          </div>

          <div class="col-12 form-group" style="padding-left: 0px;">

            <div class="col-4">
              <label>Title rate</label>
              <i class="menu-icon fa fa-question-circle" title="Price per unit"></i>
              <input type="text" name="titleRate" id="title-input" class="form-control"
                value="<%= service?.titleRate || "" %>" />
              <br />
            </div>

            <div class="col-4">
              <label>New Rate</label>
              <% const newRate=service?.newRate || 0 %>
                <input type="number" name="newRate" class="form-control price-input-v2" value="<%=`${newRate}`%>"
                  min="0" />
                <small class="help-block form-text">New Rate: <span class="price-preview-v2">
                    <%= CURRENCY_FORMAT_FN(newRate || 0) %>
                  </span></small>
                <br />
            </div>

            <div class="col-4">
              <label>Old Rate</label>
              <% const oldRate=service?.oldRate || 0 %>
                <input type="number" name="oldRate" class="form-control price-input-v2" value="<%=`${oldRate}`%>"
                  min="0" />
                <small class="help-block form-text">Old Rate: <span class="price-preview-v2">
                    <%= CURRENCY_FORMAT_FN(oldRate || 0) %>
                  </span></small>
                <br />
            </div>

            <div class="col-4">
              <label>Word Count</label>
              <% const wordCount=service?.wordCount || 0 %>
                <input type="number" name="wordCount" class="form-control price-input-v2" value="<%=`${wordCount}`%>"
                  min="0" />
                <small class="help-block form-text">Word Count: <span class="price-preview-v2">
                    <%= CURRENCY_FORMAT_FN(wordCount || 0) %>
                  </span></small>
                <br />
            </div>

            <div class="col-4">
              <label>CTA Order Now</label>
              <i class="menu-icon fa fa-question-circle" title="Tên hiển thị của nút Order"></i>
              <% const ctaOrder=service?.buttonName || "" %>
                <input type="text" name="buttonName" id="title-input" class="form-control" value="<%=`${ctaOrder}`%>" />
                <br />
            </div>

          </div>

          <div class="col-12 form-group" style="padding-left: 0px;">
            <div class="col-6">
              <label for="select" class=" form-control-label">Service Category</label>
              <select name="category" id="category" class="form-control select-search-input">
                <option value="">Trống</option>
                <% if (categories && categories.length) { %>
                  <% categories.forEach(e=> {%>
                    <% if (`${e._id}` !=`${service._id}`) { %>
                      <option value=<%- `"${e._id}"` %>
                        <%= `${e._id}`==`${service.category}` && 'selected' %>>
                          <%= e.name %>
                      </option>
                      <% } %>
                        <% }) %>
                          <% } %>
              </select>
              <br />
            </div>

            <div class="col-6">
              <label for="select" class=" form-control-label">Type Of Services</label>
              <select name="typeOfServices" id="typeOfServices" class="form-control select-search-input">
                <option value="">Trống</option>
                <% if (TYPE_OF_SERVICES && TYPE_OF_SERVICES.length) { %>
                  <% TYPE_OF_SERVICES.forEach(e=> {%>
                    <% if (`${e.id}` !=`${service._id}`) { %>
                      <option value=<%- `"${e.id}"` %>
                        <%= `${e.id}`==`${service.typeOfServices}` && 'selected' %>>
                          <%= e.name %>
                      </option>
                      <% } %>
                        <% }) %>
                          <% } %>
              </select>
              <br />
            </div>
            <br />
          </div>

          <div class="col-12 form-group" style="padding-left: 0px;">
            <div class="col-6">
              <label>Status</label>
              <select name="status" id="" class="form-control">
                <option <%- `${service?.status}`==`2` ? "selected" : '' %> value="2">Public,
                  index</option>
                <option <%- `${service?.status}`==`1` ? "selected" : '' %> value="1">Public, no
                  index</option>
                <option <%- `${service?.status}`==`0` ? "selected" : '' %> value="0">Private</option>
              </select>
              <br />
            </div>

            <div class="col-6">
              <label>Recommend</label>
              <select name="recommend" id="" class="form-control">
                <option <%- `${service?.recommend}`==`0` ? "selected" : '' %> value="0">Not recommend</option>
                <option <%- `${service?.recommend}`==`1` ? "selected" : '' %> value="1">Recommend</option>
              </select>
              <br />
            </div>
          </div>

          <div class="col-12 form-group">
            <label>SEO Title</label>
            <input type="text" name="seo_title" maxlength="70" class="form-control"
              value="<%=service?.seo_title || "" %>" id="seo-title-auto" />
            <div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
            </div>
            <br />
            <br />

            <label>SEO description</label>
            <textarea name="seo_description" maxlength="160" rows="3"
              class="form-control"><%-service?.seo_description || ""%></textarea>
            <br />

            <label>SEO keywords</label>
            <input type="text" name="seo_keywords" class="form-control" value="<%=service?.seo_keywords || ""%>" />
            <br />

            <label>Seo canonical</label>
            <input type="text" name="seo_canonical" class="form-control" value="<%=service?.seo_canonical || ""%>" />
            <br />

            <label>seo_lang</label>
            <input type="text" name="seo_lang" class="form-control" value="<%=service?.seo_lang || " en"%>" />
            <br />

            <label for="">SEO images</label>
            <div class="form-group">
              <% const seoImageSrc=service?.seo_image?.src || "/noimage.jpg" %>
                <img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
                  style="width: 100%; cursor: pointer" class="gallery-image" />

                <% const seoImageID=service?.seo_image?._id || "" %>
                  <input type="hidden" id="input-seo-image" name="seo_image" value="<%=seoImageID%>" required />
                  <hr />
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Đăng mới
      </button>
      <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
    </div>
</div>
</form>
</div>
<script src="/admin/js/autoFilled.js"></script>
<%- include ../../scripts/addForm.ejs %>
  <%- include ../../scripts/price_script.ejs %>