<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-name">
			<h1 class="d-inline-block float-left"><a href="/admin/service-categories" style="color: black;">Service
					categories</a></h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/service-categories" data-type="service-categories"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg">
	<br />
	<br />
	<form method="PUT" action="/admin/service-categories/<%=category._id%>" class="form-horizontal">
		<input type="hidden" name="lang" value="<%=lang%>" />
		<input type="hidden" name="postCategory" value="<%=category._id%>" />
		<input type="hidden" name="createdAt" value="<%=category?.createdAt || ''%>" />
		<input type="hidden" name="createdBy" value="<%=category?.createdBy || ''%>" />

		<div class="card">
			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="row">
					<div class="col-12 form-group">
						<% const thumbnailSrc=category?.thumbnail?.src || "/noimage.jpg" %>
							<img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
								style="width: 100%; height: 400px; cursor: pointer" class="gallery-image" />

							<% const thumbnailID=category?.thumbnail?._id || "" %>
								<input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>"
									required />
					</div>

					<div class="col-12 form-group">
						<label>Title</label>
						<input type="text" name="name" required=true id="title-input" class="form-control"
							value="<%= category?.name || "" %>" required />
						<br />

						<label>Slug (LINK URL)</label>
						<input type="text" name="slug" required=true id="slug-auto" class="form-control"
							value="<%= category?.slug || "" %>" required />
						<div id="create-slug-btn" class="btn btn-info mt-2" style="cursor: pointer">Generate
							slug</div>
						<br>
						<br />

						<label>Description</label>
						<textarea name="description" rows="5"
							class="form-control"><%- category?.description || "" %></textarea>
						<br />

						<label for="introduce-content">Content</label>
						<textarea name="content" class="content-editor"
							id="content-editor"><%-category?.content || "" %></textarea>
						</br>

						<hr />
					</div>

					<div class="col-12">
						<div class="col-4" style="padding-left: 0%;">
							<label for="select" class=" form-control-label">Service Category</label>
							<select name="parent" id="parent" class="form-control select-search-input">
								<option value="">Trống</option>
								<% if (categories && categories.length) { %>
									<% categories.forEach(e=> {%>
										<% if (`${e._id}` !=`${category._id}`) { %>
											<option value=<%- `"${e._id}"` %>
												<%= `${e._id}`==`${category.parent}` && 'selected' %>>
													<%= e.name %>
											</option>
											<% } %>
												<% }) %>
													<% } %>
							</select>
							</br>
							</br>
						</div>

						<div class="col-4">
							<label for="select" class=" form-control-label">Type Of Services</label>
							<select name="typeOfServices" id="typeOfServices" class="form-control select-search-input">
								<option value="">Trống</option>
								<% if (TYPE_OF_SERVICES && TYPE_OF_SERVICES.length) { %>
									<% TYPE_OF_SERVICES.forEach(e=> {%>
										<% if (`${e.id}` !=`${category._id}`) { %>
											<option value=<%- `"${e.id}"` %>
												<%= `${e.id}`==`${category.typeOfServices}` && 'selected' %>>
													<%= e.name %>
											</option>
											<% } %>
												<% }) %>
													<% } %>
							</select>
						</div>
					</div>

					<div class="col-4">
						<label>Status</label>
						<select name="status" id="status" class="form-control">
							<option value="2" <%=(`${category?.status}`==2 || !category?.status) && 'selected' %>
								>Public, index</option>
							<option value="1" <%=`${category?.status}`==1 && 'selected' %>>Public, noindex
							</option>
							<option value="0" <%=(`${category?.status}`==0) && 'selected' %>
								>Private
							</option>
						</select>
					</div>

					<div class="col-4">
						<label>Display order</label>
						<input type="number" name="displayOrder" required=true class="form-control"
							value="<%= category?.displayOrder || 1 %>" min="1" step="0.1" />
						<br />
					</div>

					<div class="col-12 form-group">
						<label>SEO title</label>
						<input type="text" name="seo_title" maxlength="70" id="seo-title-auto" class="form-control"
							value="<%=category?.seo_title || "" %>" />
						<div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
						</div>
						<br />
						<br />

						<label>SEO description</label>
						<textarea name="seo_description" maxlength="160" rows="3"
							class="form-control"><%-category?.seo_description || "" %></textarea>
						<br />

						<label>SEO keywords</label>
						<input type="text" name="seo_keywords" class="form-control"
							value="<%=category?.seo_keywords || "" %>" />
						<br />

						<label>SEO schema</label>
						<textarea name="seo_schema" rows="3"
							class="form-control"><%-category?.seo_schema || "" %></textarea>
						<br />

						<label>SEO canonical</label>
						<input type="text" name="seo_canonical" id="seo-title-auto" class="form-control"
							value="<%=category?.seo_canonical || "" %>" />
						<br />

						<label>SEO lang</label>
						<input type="text" name="seo_lang" class="form-control" value="<%=category?.seo_lang || " en"
							%>" />
						<br />

						<label for="">SEO images</label>
						<div class="form-group">
							<% const seoImageSrc=category?.seo_image?.src || "/noimage.jpg" %>
								<img onclick="openGallery(this, '#input-seo-image')" src="<%=seoImageSrc%>"
									style="width: 100%; cursor: pointer" class="gallery-image" />

								<% const seoImageID=category?.seo_image?._id || "" %>
									<input type="hidden" id="input-seo-image" name="seo_image" value="<%=seoImageID%>"
										required />
									<hr />
						</div>

					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-dot-circle-o"></i> Đăng mới
				</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
	</form>
</div>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../scripts/addForm.ejs %>